<p></p>
<div class="divRules">
    <h2>App Information:</h2>
    <p ng-repeat="line in appInfoEN.intro" class="pRules">{{line}}</p>
</div>
<p></p>
<div class="divRules">
    <h3>How insert player(s):</h3>
    <p ng-repeat="line in appInfoEN.insPlayers" class="pRules">{{line}}</p>
</div>
<p></p>
<div class="divRules">
    <h3>Table Information:</h3>
    <p ng-repeat="line in appInfoEN.table" class="pRules">{{line}}</p>
</div>
<p></p>
<div class="divRules">
    <h3>How add points:</h3>
    <p ng-repeat="line in appInfoEN.addPoints" class="pRules">{{line}}</p>
</div>