<p></p>
<div class="numPad">
    <button class="btn digitbtn" ng-click="sendDigit(1)">1</button>
    <button class="btn digitbtn" ng-click="sendDigit(2)">2</button>
    <button class="btn digitbtn" ng-click="sendDigit(3)">3</button>
    <button class="btn digitbtn" ng-click="sendDigit(4)">4</button>
    <button class="btn digitbtn" ng-click="sendDigit(5)">5</button>
    <button class="btn digitbtn" ng-click="sendDigit(6)">6</button>
    <button class="btn digitbtn" ng-click="sendDigit(7)">7</button>
    <button class="btn digitbtn" ng-click="sendDigit(8)">8</button>
    <button class="btn digitbtn" ng-click="sendDigit(9)">9</button>
    <p></p>
    <button class="btn digitbtn" ng-click="sendDigit(0)">0</button>
    <p></p>
</div>